<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>Movie Picker</title>
    <meta
      name="description"
      content="A pure HTML example, without dependencies."
    />

    <!-- Pico.css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.min.css"
    />
</head>
<body>
    <header class="container">
      <nav>
        <ul>
          <li><h1>Movie Picker</h1></li>
        </ul>
        <ul>
          <li><a href="/" class="contrast">Home</a></li>
          {{!-- <li><a href="#" class="contrast">Favorites</a></li> --}}
          {{#if loggedIn}}
          <li><a href="#" class="contrast">Logout</a></li>
          {{else}}
          <li><a href="#" class="contrast">Login</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>