<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark"/>
    <title>Reel Report</title>
    <!-- Pico.css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.min.css"
    />
    <link rel="stylesheet" href="/assets/css/style.css"/>
</head>
<body>
    <header class="container">
      <nav>
        <img src="/assets/images/logo.png" alt="Reel Report"/>
        <ul>
          <li><a href="/" class="contrast">Home</a></li>
          {{!-- <li><a href="#" class="contrast">Favorites</a></li> --}}
          {{#if loggedIn}}
          <li><a href="/logout" class="contrast">Logout</a0></li>
          {{else}}
          <li><a href="/login" class="contrast">Login</a></li>
          <li><a href="/signup" class="contrast">Sign Up</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>
    
    {{{body}}}
</body>
</html>

{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{else}}
<script src="/js/login.js"></script>
{{/if}}