<main class="container">
    <div class="grid">
        <hgroup>
            <h2 class="center">Oops! Something went wrong...</h2>
            <p class="center">Please try again later.</p>
        </hgroup>
    </div>
</main>