<main class="container">
  <div class="grid">

<div class="grid">
        <article>
        <form id="movie-picker">
            <h3>What type of movie would you like to watch?</h3>
            <fieldset>
              <h6>Genre:</h6>
              {{#each genre}}
              {{> radio}}
              {{/each}}
            </fieldset>
            <button class="button" type="submit">Submit</button>
          </form>
        </article>
        <article>
          <form class="add-movie-form">
            <h3>Add a Movie</h3>
            <fieldset>
              <label>Title:</label>
              <input
                id="title"
                type="text"
                name="title"
                placeholder="Superbad"
                aria-label="Movie title"
                required
              />
              <label>Genre:</label>
              <input
                id="genre"
                type="text"
                name="genre"
                placeholder="Comedy"
                aria-label="Movie genre"
                required
              />
              <label>Plot:</label>
              <textarea 
                id="plot" 
                name="plot" 
                placeholder="Two co-dependent high school seniors are forced to deal with separation anxiety after their plan to stage a booze-soaked party goes awry." 
                cols="50"
                rows="5"
                autocapitalize="sentences"
                aria-label="Movie plot" 
                required></textarea>
            </fieldset>
            {{#if loggedIn}}
            <button class="button" type="submit">Submit</button>
            {{else}}
            <p class="center-text">Please <a href="/login">login</a> to add a movie!</p>
            {{/if}}
          </form>
        </article>
      </div>
    </article>
  </div>
</main>

<script src="/js/pick-movie.js"></script>
{{#if loggedIn}}
  <script src="/js/add-movie.js"></script>
{{/if}}