
<div class="grid">
        <article>
        <form id="movie-picker">
            <h3>What type of movie would you like to watch?</h3>
            <fieldset>
              <h6>Genre:</h6>

              <input type="radio" id="comedy" name="genre" checked value="1"/>
              <label htmlFor="romance">Comedy</label>

              <input type="radio" id="action" name="genre" value="2"/>
              <label htmlFor="comedy">Action</label>

              <input type="radio" id="musical" name="genre" value="3" />
              <label htmlFor="musical">Musical</label>
            </fieldset>
            <button type="submit">Submit</button>
          </form>
        </article>
        <article>
          <div>
            <h3>Add a Movie</h3>
            <fieldset>
              <h6>Title:</h6>
              <input
                type="text"
                name="text"
                placeholder=""
                aria-label="Text"
              />
              <h6>Genre:</h6>
              <input
                type="text"
                name="text"
                placeholder=""
                aria-label="Text"
              />
              <h6>Plot:</h6>
              <input
                type="text"
                name="text"
                placeholder="Spanish"
                aria-label="Text"
              />
            </fieldset>
            <button type="submit">Submit</button>
          </div>
        </article>
      </div>

<script src="/js/movie-picker-logic.js"></script>