
<div class="grid">
        <article>
        <form id="movie-picker">
            <h3>What type of movie would you like to watch?</h3>
            <fieldset>
              <h6>Genre:</h6>

              <input type="radio" id="comedy" name="genre" checked value="1"/>
              <label htmlFor="romance">Comedy</label>

              <input type="radio" id="action" name="genre" value="2"/>
              <label htmlFor="comedy">Action</label>

              <input type="radio" id="musical" name="genre" value="3" />
              <label htmlFor="musical">Musical</label>
            </fieldset>
            <button type="submit">Submit</button>
          </form>
        </article>
        <article>
          <form class="add-movie-form">
            <h3>Add a Movie</h3>
            <fieldset>
              <label>Title:</label>
              <input
                id="title"
                type="text"
                name="text"
                placeholder="Movie title"
                aria-label="Text"
              />
              <label>Genre:</label>
              <input
                id="genre"
                type="text"
                name="text"
                placeholder="Comedy"
                aria-label="Text"
              />
              <label>Plot:</label>
              <textarea 
                id="plot"
                name="text"
                rows="3" cols="1"
                placeholder="Plot goes here"
                required>
              </textarea>
            </fieldset>
            <button type="submit">Submit</button>
          </form>
        </article>
      </div>

<script src="/js/movie-picker-logic.js"></script>
<script src="/js/add-movie.js"></script>