<main class="container">
  <div class="grid">

    <article>
      <form id="movie-picker">
        <h3>What type of movie would you like to watch?</h3>

        <fieldset>
          <h6>Genre:</h6>
          {{#each Genre}}
          <input type="radio" id={{Genre.genre}} name="genre" value={{Genre.id}}/>
          <label htmlFor={{Genre.genre}}>{{Genre.genre}}</label>
          {{/each}}
        </fieldset>

        <button type="submit">Submit</button>
      </form>
    </article>

    <article>
      <div>
        <h3>Add a Movie</h3>
        <fieldset>

          <h6>Title:</h6>
          <input type="text" name="text" placeholder="" aria-label="Text"/>

          <h6>Genre:</h6>
          <input type="text" name="text" placeholder="" aria-label="Text"/>

          <h6>Plot:</h6>
          <input type="text" name="text" placeholder="" aria-label="Text"/>
        
        </fieldset>
        
        <button type="submit">Submit</button>
      </div>
    </article>
  </div>
</main>

<script src="/js/movie-picker-logic.js"></script>