<main class="container">
    <div class="grid">
        <article>
            <form>
                <h2>Sign Up</h2>
                <fieldset>
                    <h6>Username</h6>
                    <input type="text" id="username" name="username">
                    <h6>Password</h6>
                    <input type="password" id="password" name="password">
                </fieldset>
                <br>
                <button type="submit" class="button">Sign Up</button>
            </form>
        </article>
    </div>
</main>

<script src="/js/signup.js"></script>