<main class="container">
    <div>
        <h3>Create New Account</h3>
        <form id="signup-form">
        <fieldset>
            <label>
            Username:
            <input
                id="username-signup"
                name="username"
                placeholder="Username"
                autocomplete="username"
            />
            </label>
            <label>
            Password:
            <input
                id="password-signup"
                type="password"
                name="password"
                placeholder="Password"
                autocomplete="new-password"
            />
            </label>
            <button type="submit">Signup</button>
            </form>
            <p>Already have an account? <a href="/login">Login</a></p>
        </fieldset>
    </div>    
</main>

<script src="./js/signup.js"></script>